@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile-list {
  @apply flex gap-4 items-center justify-start cursor-pointer hover:bg-slate-100 mt-2 p-2 w-full rounded-lg 
}